body {
  background: #0f172a;
  color: #e5e7eb;
  font-family: Arial, sans-serif;
  text-align: center;
}

h1 {
  margin: 20px 0;
}

.card {
  background: #1e293b;
  margin: 10px auto;
  padding: 15px;
  width: 280px;
  border-radius: 10px;
  font-size: 18px;
}
